<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://remotemysql.com:3306/2M1tTY8M0v?useSSL=false&amp;createDatabaseIfNotExist=true</property>
        <property name="connection.username">2M1tTY8M0v</property>
        <property name="connection.password">I3DKHkOWtn</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="ORM.Users.SubscribedUser" />
        <mapping class="ORM.Users.Basket" />
        <mapping class="ORM.Users.User" />
        <mapping class="ORM.Users.Guest" />
        <mapping class="ORM.Users.PaymentMethod" />
        <mapping class="ORM.Users.ShopAdministrator" />
        <mapping class="ORM.Users.ShopManager" />
        <mapping class="ORM.Users.ShopOwner" />
        <mapping class="ORM.Users.SystemManager" />
    </session-factory>
</hibernate-configuration>